<a [routerLink]="['/events', event._id]">
  <div class="col-md-12">
      <div class="view view-first">
        <img src="./assets/images/{{event.sport}}.jpg" class="img-responsive" alt="" />
        <div class="sale">{{event.price}}$</div>
        <div class="time">{{event.date | date:"short"}}</div>
        <div class="inner_wrap">
          <p>Type of sport: {{event.sport}}</p>
          <p>Location: {{event.place}} </p>
          <h2>{{event.description}}</h2>
        </div>
      </div>
  </div>
</a>