<div class="banner">
	<div class="container_wrap">
		<h1>Feeling sporty? Find a team!</h1>
		   <div class="dropdown-buttons">   
            		  <div class="dropdown-button">    
					  <select [(ngModel)]="sportFilterProperty">
							<option *ngFor="let sport of sports">{{sport}}</option>
    				  </select>
					</div>
				     <div class="dropdown-button">
					  <select [(ngModel)]="placeFilterProperty">
							<option *ngFor="let place of places">{{place}}</option>
					  </select>
					 </div>
				   </div> 
		<input type="text" class="form-control" placeholder="Sport, Description, Location..." [(ngModel)]="filterProperty" />
	</div>
</div>
<event-short class="col-md-3" event-short *ngFor="let event of ( events | eventFilterPipe:filterProperty | placeFilterPipe:placeFilterProperty | sportFilterPipe:sportFilterProperty )"
				[event]="event">
</event-short>