<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sportsemblr</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li *ngIf="hasLoggedUser">
                <button (click)="logout()">Logout</button>
            </li>
            <li *ngIf="!hasLoggedUser">
                <button (click)="login()">Login</button>
            </li>
            <li>
                <button (click)="events()">Events</button>
            </li>
            <li *ngIf="hasLoggedUser">
                <button (click)="create()">Create</button>
            </li>
        </ul>
    </div>
</nav>