<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sportsemblr</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li *ngIf="!hasLoggedUser">
                <a (click)="login()">Login</a>
            </li>
            <li>
                <a (click)="events()">Events</a>
            </li>
            <li>
                <a (click)="users()">Users</a>
            </li>
            <li *ngIf="hasLoggedUser">
                <a (click)="create()">Create</a>
            </li>
            <li *ngIf="hasLoggedUser">
                <a (click)="requests()">Requests</a>
            </li>
            <li *ngIf="hasLoggedUser">
                <a (click)="logout()">Logout</a>
            </li>
            <li *ngIf="hasLoggedUser">
                <a (click)="profile()">Profile</a>
            </li>
        </ul>
    </div>
</nav>